<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="recentContactUrl" value="https://api.hubapi.com/contacts/v1/lists/recently_updated/contacts/recent?hapikey=demo"/>
		<add key="contactByIdUrl" value=" https://api.hubapi.com/contacts/v1/contact/vid/"/>
		<add key="secondPartOfContactByIdUrl" value="/profile?hapikey=demo"/>
	</appSettings>
</configuration>